.BoxCentering {
  display: flex;
  justify-content: center;
  margin-top: -3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.842);
}

/* Comment */
div.comment {
  display: flex;
  align-items: center;
  margin: 5px;
  text-align: left;
}
h6.comment,
p.comment {
  margin: 0 15px;
}
.commentBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
input.comment {
  margin: 5px;
}
button.comment {
  margin: 5px;
}
textarea.comment {
  width: 93%;
  margin: 0 2.5%;
}
form.row {
  display: flex;
  align-items: center;
}
button.comment {
  width: 95%;
  margin: 0 2.5%;
}
textarea.form {
  width: 125px;
  height: 26px;
  margin: 0 15px;
}
@media (min-width: 375px) {
  textarea.form {
    width: 185px;
  }
}
@media (min-width: 411px) {
  textarea.form {
    width: 220px;
  }
}
@media (min-width: 760px) {
  h6.comment {
    font-size: 1rem;
  }
  textarea.form {
    width: 260px;
  }
}
@media (min-width: 1000px) {
  textarea.form {
    width: 290px;
  }
}
