h3.updateProfile {
  text-decoration: underline;
}

div.someMargin {
  margin: 15px;
}
h4.someMargin,
button.someMargin {
  margin: 7px;
}
h4.someTextShadow {
  box-shadow: 0 2px 5px black;
}

section.tagsBox {
  display: flex;
  flex-wrap: wrap;
  margin: 2px;
}

@media (min-width: 760px) {
  div.someMargin {
    margin: 35px;
  }
}
@media (min-width: 1000px) {
  div.someMargin {
    margin: 55px;
  }
}
@media (min-width: 1000px) and (min-height: 1350px) {
  div.someMargin {
    margin: 65px;
  }
}
