/* sign in page  */
h1.AppName {
  font-size: 4.6rem;
  padding-top: 15px;
}
section.signUp {
  border: 1px solid black;
  width: 250px;
  border-radius: 5px;
  padding: 50px 0 50px 0;
  margin: 50px 0 50px 0;
}
section.signInMission {
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
}
div.signInMissionStatements {
  width: 80px;
}
div.signInMissionStatementsRight {
  width: 90px;
}
p.signInMissionStatements {
  margin: 3px 0 0 0;
  font-family: 'Faded';
  letter-spacing: 0.5px;
}
p.signInMissionStatementsRight {
  margin: 3px 0 0 0;
  font-family: 'Faded';
  letter-spacing: 0.5px;
}
section.mission {
  margin-top: 30px;
}
