section.createAPostCentering {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0px 0 3px 0;
}
button.postSubmit {
  width: 100vw;
}
h4.createAPostTitle {
  margin: 7px 10px 10px 10px;
}
input.createAPost {
  width: 290px;
  margin: 7px 10px 10px 10px;
}
img.createAPostImage {
  max-width: 205px;
  max-height: 145px;
}

section.tagsBox {
  display: flex;
  flex-wrap: wrap;
  margin: 2px;
}
h5.tag {
  min-width: 20px;
  max-height: 15px;
  box-shadow: 0 0 2px black;
  margin: 5px;
  padding: 5px;
}
