section.createAPostCentering {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0px 0 3px 0;
}
button.postSubmit {
  width: 100vw;
}
h4.createAPostTitle {
  margin: 7px 10px 10px 10px;
}
input.createAPost {
  width: 290px;
  margin: 7px 10px 10px 10px;
}
input.createAPostImage {
  width: 75%;
  margin: 1% 0 1% 25%;
}
img.createAPostImage {
  max-width: 215px;
  max-height: 155px;
}

section.tagsBox {
  display: flex;
  flex-wrap: wrap;
  margin: 2px;
}
h5.tag {
  display: flex;
  align-items: center;
  min-width: 20px;
  max-height: 15px;
  box-shadow: 0 0 2px black;
  margin: 5px;
  padding: 5px;
  border-radius: 7px;
}
@media (min-width: 375px) {
  img.createAPostImage {
    max-width: 245px;
    max-height: 185px;
  }
}
@media (min-width: 411px) {
  img.createAPostImage {
    max-width: 265px;
    max-height: 205px;
  }
}
@media (min-width: 760px) {
  img.createAPostImage {
    max-width: 305px;
    max-height: 245px;
  }
}
@media (min-width: 1000px) {
  img.createAPostImage {
    max-width: 335px;
    max-height: 275px;
  }
}
@media (min-width: 1000px) and (min-height: 1350px) {
  img.createAPostImage {
    max-width: 385px;
    max-height: 325px;
  }
}
